<!doctype html>
<html lang="ch-hanz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NKTC管理中心-首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="http://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<style>
	.row{
		margin-bottom:10px;
	}
	.glyphicon{
		margin-right:10px;
	}
    .input-group{
        margin-bottom:20px;
    }
	</style>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs  nav-justified" role="tablist">
				<li role="presentation"><a href="admin-list.html">分类管理</a></li>
				<li role="presentation"><a href="admin-slider.html">专题管理</a></li>
				<li role="presentation" class="active"><a href="#">用户管理</a></li>
				<li role="presentation"><a href="admin-article-list.html">文章管理</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container" style="margin-top:20px;">

	<div class="row">
		<div class="col-xs-1 text-center">#</div>
		<div class="col-xs-2 text-center">用户名</div>
		<div class="col-xs-3 text-center">最后登陆日期</div>
		<div class="col-xs-4 text-center">权限</div>
		<div class="col-xs-2 text-center">操作</div>
	</div>
	
	<div class="row">
		<div class="col-xs-1 text-center">1</div>
		<div class="col-xs-2 text-center">ZLY</div>
		<div class="col-xs-3 text-center">2014-11-09 17:47:38</div>
		<div class="col-xs-4 text-center">
            <label class="checkbox-inline">
                <input type="checkbox" value="list" disabled checked>菜单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="user" disabled checked>用户
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="slider" disabled checked>专题
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="article" disabled checked>文章
            </label>

        </div>
		<div class="col-xs-2 text-center">
			<div class="btn-group btn-group-xs">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit" data-uid="1">编辑</button>
				<button type="button" class="btn btn-danger disabled" action="del" uid="1">删除</button>
			</div>
		</div>
	</div>

	
		<div class="row">
		<div class="col-xs-1 text-center">2</div>
		<div class="col-xs-2 text-center">XHY</div>
		<div class="col-xs-3 text-center">2014-11-09 17:47:38</div>
		<div class="col-xs-4 text-center">
            <label class="checkbox-inline">
                <input type="checkbox" value="list" disabled>菜单
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="user" disabled>用户
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="slider" disabled>专题
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="article" disabled>文章
            </label>
		
		</div>
		<div class="col-xs-2 text-center">
			<div class="btn-group btn-group-xs">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit" data-uid="2">编辑</button>
				<button type="button" class="btn btn-danger" action="del" uid="2">删除</button>
			</div>
		</div>
	</div>
    <hr>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-10 text-center">
            <button type="button" class="btn btn-warning" id="add-user">添加用户</button>
        </div>
    </div>


</div>



<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑{XXX用户}的信息</h4>
            </div>
            <div class="modal-body">
                <form id="updata-user">
                    <!--隐藏域 用于保存用户的UID值 提交到后台后 需要鉴权-->
                    <input type="hidden" name="uid" value="1">
                    <!--用户名-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-user input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control username" name="username">
                    </div>
                    <!--前台显示作者-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-pencil input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control nickname" name="nickname">
                    </div>
                    <!--密码-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-lock input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control" name="password" placeholder="如果需要重置密码请填写新密码，否则请留空">
                    </div>

                    <div class="input-group">
                        <span>权限管理：</span>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="func" value="list">菜单
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="func" value="user">用户
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="func" value="slider">专题
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="func" value="article">文章
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="updata">更新</button>
            </div>
        </div>
    </div>
</div>

<script src="http://cdn.staticfile.org/jquery/1.11.1-rc2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.js"></script>
<script>
    //更新弹出逻辑开始
    $('#edit').on('show.bs.modal',function(event){
        var button = $(event.relatedTarget)
        var uid = button.data('uid')
        var modal = $(this)
        $.get("user_detail.page",{'uid':uid},function(data){//修改user_detail.page为获取用户信息的页面
                                                           //返回用户信息 要求字段:username,nickname,func
                                                          //格式{"username":"zly","nickname":"ilovexhy","func":"list,user,article"}
            if(data!=0){
                var json = $.parseJSON(data);
                var username = json['username'];
                var nickname = json['nickname'];
                var func = json['func'];
                var func = func.split(",");
                $("input[name='func']").each(function(){
                    if($.inArray(this.getAttribute("value"),func))
                        $(this).click();
                });
                modal.find('.modal-title').text('编辑' + username + "用户的信息");
                modal.find('.username').val(username);
                modal.find('.nickname').val(nickname);
            }else{
                window.alert("获取用户信息失败\n请联系管理员处理");
            }
        });
    })
    //更新弹出逻辑结束
    //更新提交逻辑开始
    $('#updata').on('click', function () {
        var fun=[];
        $("input[name='func']").each(function(){
            if(this.checked)
                fun.push($(this).val());
        });
        var func=new Object;
        func.name="func";
        func.value=fun.toString();
        var updata_data = $("input[type='text']").serializeArray();
        updata_data.push(func);
        console.log(updata_data);
        $.post("user_edit.page",updata_data,function(data){//修改user_edit.page为编辑用户提交的页面
            if(data==0){
                $('#edit').modal('hide');
                location.reload();
            }else{
                window.alert("更新失败，错误原因为："+data+"\n请联系管理员处理");
           }
        });
    })
    //更新提交逻辑结束

    //删除逻辑开始
    $("[action='del']").on('click',function(){
        var uid=this.getAttribute("uid");
        $.get("user_del.page",{'uid':uid},function(data){//修改user_del.page为删除用户提交的页面
            if(data==0){
                location.reload();
            }else{
                window.alert("删除失败，错误原因为："+data+"\n请联系管理员处理");
            }
        });
    })
    //删除逻辑结束
    //添加按钮逻辑
    $("#add-user").on('click',function(){
        location.href ="admin-user-new.html";
    })
</script>
</body>
</html>