{% extends "layout_admin.html" %}

{% block title %}NKTC管理中心-文章管理{% endblock %}

{% block menu %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs  nav-justified" role="tablist">
				<li role="presentation"><a href="{{ url_for('admin_list') }}">分类管理</a></li>
				<li role="presentation"><a href="{{ url_for('admin_slider')}}">专题管理</a></li>
				<li role="presentation"><a href="{{ url_for('admin_user' }}">用户管理</a></li>
				<li role="presentation" class="active"><a href="#">文章管理</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">

直接嵌入编辑器！

</div>
{% endblock %}