<!doctype html>
<html lang="ch-hanz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NKTC管理中心-首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="http://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style>
	.row{
		margin-bottom:10px;
	}
	.glyphicon{
		margin-right:10px;
	}
	
	
	
	</style>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs  nav-justified" role="tablist">
				<li role="presentation"><a href="#">分类管理</a></li>
				<li role="presentation"><a href="admin-slider.html">专题管理</a></li>
				<li role="presentation"><a href="admin-user.html">用户管理</a></li>
				<li role="presentation" class="active"><a href="admin-article-list.html">文章管理</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container" style="margin-top:20px;">

直接嵌入编辑器！

</div>
<script src="http://cdn.staticfile.org/jquery/1.11.1-rc2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.js"></script>
</body>
</html>