{%  extends "admin/layout-admin.html" %}

{% block title %}NKTC管理中心-专题管理{% endblock %}

{% block menu %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs  nav-justified" role="tablist">
                <li role="presentation"><a href="{{ url_for('admin_list') }}">分类管理</a></li>
                <li role="presentation" class="active"><a href="#">专题管理</a></li>
                <li role="presentation"><a href="{{ url_for('admin_user') }}">用户管理</a></li>
                <li role="presentation"><a href="{{ url_for('admin_article_list') }}">文章管理</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">
	<div class="row">
		<div class="col-xs-1 text-center">#</div>
		<div class="col-xs-5 text-center">标题</div>
		<div class="col-xs-2 text-center">文件名</div>
		<div class="col-xs-2 text-center">链接URL</div>
        <div class="col-xs-2 text-center">操作</div>
	</div>

    {% for item in showcase %}
        <div class="row">
            <div class="col-xs-1 text-center">{{ item.id }}</div>
            <div class="col-xs-5 text-center">{{ item.text }}</div>
            <div class="col-xs-2 text-center">{{ item.img }}</div>
            <div class="col-xs-2 text-center">{{ item.url }}</div>
			<div class="col-xs-2 text-center">
				<div class="btn-group btn-group-xs">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit" data-uid="{{ item.id }}">编辑</button>
					<button type="button" class="btn btn-danger" action="del" uid="{{ item.id }}">删除</button>
				</div>
			</div>
        </div>
    {% endfor %}
    <hr/>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-10 text-center">
            <button type="button" class="btn btn-warning" id="add-showcase">添加专题</button>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">编辑{XX名称}专题</h4>
			</div>
			<div class="modal-body">
				<form id="updata-user">
					<!--隐藏域 用于保存用户的UID值 提交到后台后 需要鉴权-->
					<input type="hidden" name="uid" value="1">
                    <!--标题-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-th-large input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control text" name="text">
                    </div>
                    <!--图片-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-picture input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control img" name="img">
                    </div>
                    <!--URL-->
                    <div class="input-group">
                        <span class="glyphicon glyphicon-link input-group-addon" aria-hidden="true"></span>
                        <input type="text" class="form-control url" name="url">
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="updata">更新</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
    //更新弹出逻辑开始
    $('#edit').on('show.bs.modal',function(event){
        var button = $(event.relatedTarget)
        var uid = button.data('uid')
        var modal = $(this)
        uid_global = uid
        $.get("/slider/"+uid+"/detail",{'uid':uid},function(data){//修改user_detail.page为获取用户信息的页面
                                                           //返回用户信息 要求字段:username,nickname,func
                                                          //格式{"username":"zly","nickname":"ilovexhy","func":"list,user,article"}
            if(data!=0){
                var json = $.parseJSON(data);
                var text = json['text'];
                var img = json['img'];
                var url = json['url']
                modal.find('.modal-title').text('编辑 ' + text + " 专题的信息");
                modal.find('.uid').val(uid);
                modal.find('.text').val(text);
                modal.find('.img').val(img);
                modal.find('.url').val(url)
            }else{
                window.alert("获取专题信息失败\n请联系管理员处理");
            }
        });
    })
    //更新弹出逻辑结束

    //更新提交逻辑开始
    $('#updata').on('click', function () {
        var fun=[];
        $("input[name='func']").each(function(){
            if(this.checked)
                fun.push($(this).val());
        });
        var func=new Object;
        func.name="func";
        func.value=fun.toString();
        var updata_data = $("input[type='text']").serializeArray();
        updata_data.push(func);
        $.post("/slider/"+uid_global+"/detail",updata_data,function(data){//修改user_edit.page为编辑用户提交的页面
            if(data=="success"){
                $('#edit').modal('hide');
                location.reload();
            }else{
                window.alert("更新失败，错误原因为："+data+"\n请联系管理员处理");
           }
        });
    })
    //更新提交逻辑结束

    //删除逻辑开始
    $("[action='del']").on('click',function(){
        var uid=this.getAttribute("uid");
        $.get("/slider/"+uid+"/del",{'uid':uid},function(data){//修改user_del.page为删除用户提交的页面
            if(data=="success"){
                location.reload();
            }else{
                window.alert("删除失败，错误原因为："+data+"\n请联系管理员处理");
            }
        });
    })
    //删除逻辑结束

    //添加按钮逻辑
    $("#add-showcase").on('click',function(){
        location.href ="{{ url_for('add_slider') }}";
    })
</script>
{% endblock %}