{% extends "layout.html" %}

{% block title %}南开中学体验创意中心官网{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-xs-12 header">
            <img src="{{ url_for('static', filename='logo.png') }}" width="100%" class="hidden-lg hidden-md"/>
            <img src="{{ url_for('static', filename='logo-small.png') }}" width="100%" class="hidden-sm hidden-xs"/>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand"><strong>NKTRY</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav">

            <!-- 主菜单 -->
                {% for item in menu %}
                        <li><a href="{{ url_for('list', name=item.name, title='root') }}">{{ item.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
    </nav>
{% endblock %}

{% block slider %}
    <div class="carousel slide" data-ride="carousel" id="slideshow" data-interval="3000">
        <ol class="carousel-indicators">
            {% set a = 0 %}
            {% for item in showcase %}
                {% if a == 0 %}
                    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#slideshow" data-slide-to="{{ a }}"></li>
                {% endif %}
                {% set a = a + 1 %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">

        <!-- 跑马灯图片&文字 -->
            {% for item in showcase %}
                {% if showcase[0] == item %}
                    <div class="item active">
                        <a href="{{ url_for('activity', name=item.url) }}"><img src="{{ url_for('static', filename="img/%s" % item.img) }}" alt="{{ item.text }}"/></a>
                    </div>
                {% else %}
                    <div class="item">
                        <a href="{{ url_for('activity', name=item.url) }}"><img src="{{ url_for('static', filename="img/%s" % item.img) }}" alt="{{ item.text }}"/></a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <a href="#slideshow" data-slide="prev" class="left carousel-control">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#slideshow" data-slide="next" class="right carousel-control">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="container main">
    <div class="row">

    <!-- 首页新闻 -->
        <div class="col-xs-12 col-sm-4 hr">
        {% for item in news_1 %}
            {% if item == news_1[0] %}
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/{{ item.main }}.jpg" alt="" class="img-thumbnail inline-block"/>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h4 class="inline-block"><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></h4>
                                <blockquote class="index-news-content hidden-sm hidden-xs">
                                    <p>{{ item.info }}...</p>
                                </blockquote>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row index-news-list">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-4 hr">
        {% for item in news_2 %}
            {% if item == news_2[0] %}
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/{{ item.main }}.jpg" alt="" class="img-thumbnail inline-block"/>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h4 class="inline-block"><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></h4>
                                <blockquote class="index-news-content hidden-sm hidden-xs">
                                    <p>{{ item.info }}...</p>
                                </blockquote>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row index-news-list">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

         <div class="col-xs-12 col-sm-4">
        {% for item in news_3 %}
            {% if item == news_3[0] %}
                <div class="row">
                    <div class="col-xs-6">
                        <img src="img/{{ item.main }}.jpg" alt="" class="img-thumbnail inline-block"/>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h4 class="inline-block"><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></h4>
                                <blockquote class="index-news-content hidden-sm hidden-xs">
                                    <p>{{ item.info }}...</p>
                                </blockquote>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row index-news-list">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="{{ url_for('page', main=item.main, secondary=item.sceondary, title=item.title) }}">{{ item.title }}</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
         </div>

        </div>
    </div>
</div>
{% endblock %}