<!doctype html>
<html lang="ch-hanz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medium-editor.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    {% block header %}{% endblock %}
    {% block slider %}{% endblock %}
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
<div class="container footer">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <h4><strong>关注我们</strong></h4>
            <ul class="list-unstyled contactus-list">
                <li>腾讯微博</li>
                <li>新浪微博</li>
                <li>人人公共主页</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4><strong>关注我们</strong></h4>
            <ul class="list-unstyled contactus-list">
                <li>腾讯微博</li>
                <li>新浪微博</li>
                <li>人人公共主页</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4><strong>关注我们</strong></h4>
            <ul class="list-unstyled contactus-list">
                <li>腾讯微博</li>
                <li>新浪微博</li>
                <li>人人公共主页</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4><strong>关注我们</strong></h4>
            <ul class="list-unstyled contactus-list">
                <li>腾讯微博</li>
                <li>新浪微博</li>
                <li>人人公共主页</li>
            </ul>
        </div>
    </div>
</div>
<div class="container copyright">
    <div class="row">
        <div class="col-xs-12">
				<div class="col-xs-12"><p>Theme:{耿希超@天津市憬炼科技发展有限公司}&nbsp;&nbsp;&nbsp;Build:{张林樾 吴昊天@南开中学体验创意中心协会网络部}</p></div>
                <div class="col-xs-4"><p>Copyright  2012 - 2014 NKTC. All Rights Reserved</p></div>
                <p class="text-right">津ICP备14004209号-3</p>
                
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/holder.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>