{% extends "layout.html" %}

{% block title %}{{ parent }} - {{ title }}{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ url_for('static', filename='logo.png') }}" width="100%" class="hidden-lg hidden-md"/>
            <img src="{{ url_for('static', filename='logo-small.png') }}" width="100%" class="hidden-sm hidden-xs"/>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand"><strong>NKTRY</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav">

            <!-- 主菜单 -->
                {% for item in menu %}
                    {% if item.name == parent %}
                        <li class="active"><a href="#">{{ item.name }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('list', name=item.name, title='root') }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}">首页</a></li>
        <li><a href="{{ url_for('list', name=parent, title='root') }}">{{ parent }}</a></li>
        <li><a href="{{ url_for('list', name=parent, title=title) }}">{{ title }}</a></li>
        <li class="active">{{ content.title }}</li>
    </ol>
    <div class="row">

        <div class="col-sm-9 hr">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 >{{ content.title }}</h3>
                    <h5 class="text-info inline-block page-vicetitle">{{ content.date }}</h5>
                    <h5 class="text-info inline-block page-vicetitle">编辑：{{ content.author.name }}</h5>
                    <h5 class="text-info inline-block page-vicetitle">分享到</h5>
                    <div class="bshare-custom inline-block">
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    </div>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=bc3a2e5a-74a2-48c7-a5a5-cbf651bdca86&amp;pophcol=1&amp;lang=zh">
                    </script>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js">
                    </script>
                </div>
                <div class="col-xs-12 page-content">
                    {{ content.text | safe }}
                </div>
                <div class="col-xs-12">
                    <h5 class="page-share"> </h5>
                </div>
                <div class="col-xs-12">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ content.id }}" data-title="{{ content.title }}" data-url="{{ url_for('page', title=content.title) }}"></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                    var duoshuoQuery = {short_name:"nktry2014"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                        </script>
                    <!-- 多说公共JS代码 end -->

                </div>

            </div>
        </div>

        <div class="col-sm-3">
            <h4 class="text-center">最新动态</h4>
            <ul class="list-unstyled">

            {% for item in news %}
                <li><a href="{{ url_for('page', main=parent, secondary=title, title=item.title) }}">{{ item.title }}</a></li>
            {% endfor %}
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(".page-content img").addClass("col-xs-12")
</script>
{% endblock %}